body {
    position: relative;
    font-size: 1.9em;
}
#accordion{
    left:1.5em;
    top: 100px;
    padding:2em;
    margin: auto;
    position: fixed;
    background-color: #fff;
    color:#757575;
    font-size: .8em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.title{
    font-size: 1.2 em;
    padding: .8em;
}
/*#myScrollspy .nav-tabs-justified>.active>a, 
#myScrollspy .nav-tabs-justified>.active>a:focus, 
#myScrollspy .nav-tabs-justified>.active>a:hover,
#myScrollspy a:focus,
#myScrollspy a:hover,
#myScrollspy .active>a{
    background-color: #fff;
    border: 0px;
    color:#E64A19;
    font-weight: bold;
}*/
#panelN0, #panelN1, #panelN2, #panelN3{
    /*display:none;*/
}
div.col-sm-9 div {
    height: 250px;
    font-size: 28px;
}

.preheader{
    height: 2.5em;
}
header{
    background-color: rgba(255,87,44,1);
    border-top: 30px solid #E64A19;
    border-bottom: 30px solid #E64A19;

}
header>div{
    margin:auto;
    position:relative;
    bottom:65px;
    background-color: rgba(255,87,44,0.4);

}
#content{
    padding-top: 2em;
}
#content h1{
    padding-left: 1.5em;
    padding-top: 1.8em;
}
.panel-primary {
    border-color: #FFCCBC;
     box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 3px 10px 0 rgba(0, 0, 0, 0.15);
}
.panel-primary>.panel-heading {
    color: #E64A19;
    background-color: #FFCCBC;
    border-color: #FFCCBC;
}


/*Generic classes*/

.btn-lg.focus, .btn-lg:focus, .btn-lg:hover{
    background-color: #FFCCBC;
    color:#E64A19;
}
.btn-md{
    padding-left: 1.2em;
}
.btn-md.focus, .btn-md:focus, .btn-md:hover{
    
    color:#E64A19;
}
a {
    color:#757575;
}
a:hover, a:focus, a:active{
    text-decoration: none;
    color: #E64A19;
}
ul{
    list-style-type: none;
}
#accordion{
    padding:0;
}
.panel-default{
    border:none;
}
.parallax {
    /* The image used */
    background-image: url("../img/bg.jpg");

    /* Set a specific height */
    min-height: 600px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax2{
    background-color: #FF5722;
    border-bottom: 2px solid #E64A19;
    border-top: 20px solid #E64A19;
    /* The image used */
/*    background-image: url("../img/bgN.jpg");*/

    /* Set a specific height */
    min-height: 150px; 
     /* Create the parallax scrolling effect */
/*    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
}
.parallax2 a{
    color:#fff;
}
.parallax2 a:hover, .parallax2 a:focus, .parallax2 a:active{
    color:#757575; 
    background-color: rgba(255, 255, 255, 0.6);
}